.row{
    box-sizing: border-box;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  .row {
    background-color: #06121f;
    display: flex;
    padding: 20px;
  }

  .col {
    background-color: #6584a0;
    padding: 20px;
    flex: 1;
    margin: 1%;
    color: white;
  }

  .col-2 {
    flex: 2;
    background-color: #419c73;
    margin: 1%;
  }
  .col-3 { flex: 3;
    background-color: #00ff55;
    margin: 1%;
  }
 26  
Columnas_Flex/index.html
